# Virtual Enviornment
.venv/

# Python
__pycache__/
*.py[cod]
*.pyo

# Jupyter
.ipynb_checkpoints/

#Enviornment
.env

# Model Files
*.pkl
*.joblib

# Data
data/processed/
data/external/

# VS Code
.vscode/

# OS Files
.DS_Store
Thumbs.db

# Syntthetic Datasets
Synthetic_Generator/data

llm_response.txt